<link rel='stylesheet' href='/stylesheets/employees.css'/>

<div class="row">
    <h2 class="pull-left">Medewerkers <a ng-if="user.profile.role == 'SuperAdmin' || user.profile.role == 'Admin'" href="#/relations/newemployee" class="btn btn-success-outline" uib-tooltip="Medewerker toevoegen" tooltip-placement="bottom"><i class="ion ion-person-add"></i></a></h2>
    <ng-include src="'/views/includes/product.html'"></ng-include>
</div>

<div class="row">
        <input ng-model="employeeSearch" type="text" placeholder="Zoek Medewerker" class="form-control"/>
</div>
<hr/>

<div class="row">
    <div class="col-md-4" ng-repeat="employee in employees | filter:employeeSearch">
        <div class="card" style="overflow: visible;">
            <img ng-src="{{ employee.profile.photo }}" style="border: 5px solid #3c8dbc;width:100px;position:relative;left:15px;top:-15px;" class="img-circle pull-right"  alt="Card image">

            <div class="card-block">
                <h4 class="card-title">{{ employee.profile.name.firstname }} {{ employee.profile.name.lastname }}</h4>
                <h6 class="card-subtitle text-muted">{{ employee.profile.role }}</h6>

            </div>
            <div class="card-block">
                <div class="row" style="margin:10px 0;">
                    <a style="overflow: hidden;" href="tel:{{ employee.profile.contact.phone }}" class="col-xs-12 btn btn-primary-outline"><i class="ion ion-ios-telephone"></i> {{ employee.profile.contact.phone }}</a>
                </div>
                <div class="row" style="margin:10px 0;">
                    <a style="overflow: hidden;" href="mailto:{{ employee.email }}" class="col-xs-12 btn btn-primary-outline"><i class="ion ion-ios-email"></i> {{ employee.email }}</a>
                </div>
                <div class="row">
                    <div class="col-xs-12 card-text">
                        <address>
                            {{ employee.profile.contact.address.street }} {{ employee.profile.contact.address.houseNumber }}{{ employee.profile.contact.address.houseNumberAddition }}<br/>
                            {{ employee.profile.contact.address.zipcode }}, {{ employee.profile.contact.address.city }}<br/>
                            {{ employee.profile.contact.address.country }}
                        </address>
                    </div>
                </div>
                <div class="row" style="margin:10px 0;" ng-if="user.profile.role == 'SuperAdmin' || user.profile.role == 'Admin'">
                    <a href="#/relations/editemployee/{{ employee._id }}" class="btn btn-warning-outline col-xs-5" uib-tooltip="Bewerk profiel medewerker" tooltip-placement="right-top">
                        <span class="fa-stack">
                            <i class="fa fa-user fa-stack-1x" style="color:black;"></i>
                            <i class="fa fa-pencil-square-o  fa-stack-2x"></i>
                        </span>
                    </a>
                    <a ng-click="disableAccount(employee._id, employee.profile.name, activeEmployees)" class="btn btn-danger-outline col-xs-offset-2 col-xs-5" uib-tooltip="Deactiveer profiel medewerker" tooltip-placement="left-top">
                        <span class="fa-stack">
                            <i class="fa fa-user fa-stack-1x" style="color:black;"></i>
                            <i class="fa fa-ban fa-stack-2x"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<section id="map">-->
    <!--<div ui-map="myMap" ui-options="mapOptions" class="map-canvas" style="height:400px;width:400px;"></div>-->
<!--</section>-->

<script src="/javascripts/countries.js"></script>

