<link rel='stylesheet' href='/stylesheets/employees.css'/>

<div class="row">
    <h2 class="pull-left">Nieuwe mederwerker</h2>
    <ng-include src="'/views/includes/product.html'"></ng-include>
</div>

<hr/>
<div class="row">
    <form method="post" action="/api/v1/users/new/employee" autocomplete=off>

        <div class="col-lg-6">
            <fieldset class="form-group row">
                <label for="firstname" class="col-sm-3 form-control-label">Naam<sup><i class="ion ion-asterisk"></i></sup></label>

                <div class="col-sm-4">
                    <input type="text" class="form-control" id="firstname" name="firstname"
                           ng-model="tempUser.profile.name.firstname" placeholder="Voornaam" required="required"/>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="lastname" name="lastname"
                           ng-model="tempUser.profile.name.lastname" placeholder="Achternaam" required="required"/>
                </div>
            </fieldset>
            <fieldset class="form-group row">
                <label for="dateOfBirth" class="col-sm-3 form-control-label">Geboortedatum</label>

                <div class="col-sm-6">
                    <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth"
                           ng-model="tempUser.profile.dateOfBirth" placeholder="Geboortedatum"/>
                </div>
                <div class="col-sm-3">
                    <p ng-show="tempUser.profile.dateOfBirth" class="form-control-static text-xs-right hidden-xs-down">{{tempUser.profile.dateOfBirth | ageFilter}}
                        jaar</p>
                </div>
            </fieldset>
            <fieldset class="form-group row">
                <label for="email" class="col-sm-3 form-control-label">Email<sup><i class="ion ion-asterisk"></i></sup></label>

                <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" name="email" value="{{ tempUser.email }}"
                           placeholder="Email adres" required="required"/>
                </div>
            </fieldset>
            <fieldset class="form-group row">
                <label for="phone" class="col-sm-3 form-control-label">Tel.</label>

                <div class="col-sm-9">
                    <input type="tel"
                           pattern="^(?:0|\(?\+31\)?\s?|0031\s?)[1-79](?:[\.\-\s]?\d\d){4}$"
                           class="form-control" id="phone" name="phone" ng-model="tempUser.profile.contact.phone"
                           placeholder="telefoonnummer"/>
                </div>
            </fieldset>
            <fieldset class="form-group row">
                <label for="street" class="col-sm-3 form-control-label">Adres</label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" id="street"
                           name="street" ng-model="tempUser.profile.contact.address.street"
                           placeholder="straat"/>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="number" class="form-control" id="houseNumber"
                               name="houseNumber" ng-model="tempUser.profile.contact.address.houseNumber"
                               placeholder="Huisnummer"/>
                        <span class="input-group-addon">
                            <input type="text" id="houseNumberAddition"
                                   name="houseNumberAddition" style="width:50px;height:24px;" class="form-control"
                                   ng-model="tempUser.profile.contact.address.houseNumberAddition" placeholder="Toevoeging"
                                   uib-tooltip="Huisnummer toevoeging"
                                   tooltip-placement="top"
                                   tooltip-trigger="mouseenter"
                                   tooltip-enable="!tempUser.profile.contact.address.houseNumberAddition"
                                    />
                        </span>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group row">
                <div class="col-sm-3 col-sm-offset-3">
                    <input type="text" class="form-control" id="zipcode"
                           name="zipcode" ng-model="tempUser.profile.contact.address.zipcode"
                           placeholder="Postcode"/>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="city"
                           name="city" ng-model="tempUser.profile.contact.address.city"
                           placeholder="Stad"/>
                </div>
            </fieldset>
            <fieldset class="form-group row">
                <div class="col-sm-9 col-sm-offset-3">
                    <input type="text" ng-model="tempUser.profile.contact.address.country" placeholder="Land"
                           uib-typeahead="country.name as country.name for country in countries | filter:{name:$viewValue}"
                           typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true"
                           typeahead-min-length="0" name="country" autocomplete="off"/>
                </div>
            </fieldset>

            <hr/>
            <fieldset class="form-group row">
                <label for="role" class="col-sm-3 form-control-label">Rol</label>

                <div class="col-sm-9">
                    <select id="role" name="role">
                        <option value="SuperAdmin" ng-if="user.profile.role == 'SuperAdmin'">SuperAdmin</option>
                        <option value="Admin">Administrator</option>
                        <option value="Employee">Medewerker</option>
                        <option value="Client">Klant</option>
                    </select>
                </div>
            </fieldset>
            <fieldset class="form-group row" ng-show="user.profile.role == 'SuperAdmin'">
                <label for="entity" class="col-sm-3 form-control-label">Entity</label>

                <div class="col-sm-9">
                    <select id="entity" name="entity">
                        <option value="Maasland">Maasland</option>
                        <option value="Overige">Overige</option>
                    </select>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-5 col-lg-offset-1">
            <fieldset class="form-group row" ng-show="photoInput">
                <div class="col-sm-12">
                    <img class="img-circle center-block" src="{{ photo }}" alt="profiel foto"/>
                    <input type="hidden" value="{{ photo }}" name="photo"/>
                    <input type="hidden" value="{{ user.profile.photo }}" name="currentPhoto" />
                </div>
            </fieldset>
            <fieldset class="form-group row">
                <div class="cropArea col-sm-12" ng-show="photoInput">
                    <img-crop image="photoInput" result-image="photo"></img-crop>
                </div>
                <div class="col-sm-12" ng-hide="photoInput">
                    <img class="img-circle center-block" ng-src="{{profilePlaceholder }}" alt="profiel foto"/>
                </div>
            </fieldset>
            <fieldset class="form-group row">
                <label for="photoInput" class="col-sm-3 form-control-label">Foto</label>
                <div class="col-sm-7">
                    <input type="file" class="form-control" id="photoInput" name="photoInput"/>
                </div>
                <div class="col-sm-1" ng-show="photoInput">
                    <a class="btn btn-danger-outline" ng-click="clearPhoto()"><i class="fa fa-remove"></i></a>
                </div>
            </fieldset>
        </div>

        <div class="col-lg-12">
            <hr/>
            <h5 class="text-xs-center">Gebruiker aanmaken</h5>
            <hr/>
            <fieldset class="form-group row">
                <div class="col-sm-12 text-xs-center">
                    <button type="submit" class="btn btn-success-outline">Registreer</button>
                </div>
            </fieldset>
        </div>
    </form>


</div>

<script src="/javascripts/countries.js"></script>

<script type="text/ng-template" id="customTemplate.html">
    <span style="cursor:pointer;" class="flag-icon flag-icon-{{ match.model.code.toLowerCase() }}"></span>
    <span style="cursor:pointer;" ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
</script>

