<link rel='stylesheet' href='/stylesheets/oreanaVandaag.css'/>

<div class="row">
    <h2 class="pull-left">OreanaVandaag</h2>
    <span class="pull-right color-blue">{{ entity.product }} <i class="fa fa-trophy color-gold"></i></span>
</div>

<div class="row" id="info-boxes">
    <div class="col-lg-3">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-home"></i></span>
            <div class="info-box-content">
                <h6>Te Koop</h6>
                <span class="text-small pull-left">Mijn</span>
                <span class="text-small pull-right">Totaal</span>
                <br/>
                <span class="text-small pull-left">114</span>
                <span class="text-small pull-right">206.318</span>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="ion ion-ios-home-outline"></i></span>
            <div class="info-box-content">
                <h6>Te Huur</h6>
                <span class="text-small pull-left">Mijn</span>
                <span class="text-small pull-right">Totaal</span>
                <br/>
                <span class="text-small pull-left">4</span>
                <span class="text-small pull-right">11.194</span>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-calendar-outline"></i></span>
            <div class="info-box-content">
                <h6>Stats <i class="ion ion-ios-information-outline" data-toggle="tooltip" data-placement="top" title="Wekelijkse statestieken"></i></h6>
                <span class="text-small pull-left">Gepland</span>
                <span class="text-small pull-right">Views</span>
                <br/>
                <span class="text-small pull-left">3</span>
                <span class="text-small pull-right">26</span>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <h6>Klanten <i class="ion ion-ios-information-outline" data-toggle="tooltip" data-placement="top" title="Wekelijkse statestieken"></i></h6>
                <span class="text-small pull-left">Nieuw</span>
                <span class="text-small pull-right">Totaal</span>
                <br/>
                <span class="text-small pull-left">{{ newUserCount }}</span>
                <span class="text-small pull-right">{{ userCount }}</span>
            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-md-6">
        <!-- USERS LIST -->
        <div class="box box-red">
            <div class="box-header">
                <h4>Nieuwste Relaties</h4>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <ul class="users-list clearfix">
                    <li>
                        <img src="https://maxvandelaar.com/oreana/dist/img/user1-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Alexander Pierce</a>
                        <span class="users-list-date">Today</span>
                    </li>
                    <li>
                        <img src="https://maxvandelaar.com/oreana/dist/img/user2-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Norman</a>
                        <span class="users-list-date">Yesterday</span>
                    </li>
                    <li>
                        <img src="https://maxvandelaar.com/oreana/dist/img/user3-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Jane</a>
                        <span class="users-list-date">12 Jan</span>
                    </li>
                    <li>
                        <img src="https://maxvandelaar.com/oreana/dist/img/user4-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">John</a>
                        <span class="users-list-date">12 Jan</span>
                    </li>
                    <li>
                        <img src="https://maxvandelaar.com/oreana/dist/img/user5-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Alexander</a>
                        <span class="users-list-date">13 Jan</span>
                    </li>
                    <li>
                        <img src="https://maxvandelaar.com/oreana/dist/img/user6-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Sarah</a>
                        <span class="users-list-date">14 Jan</span>
                    </li>
                    <li>
                        <img src="https://maxvandelaar.com/oreana/dist/img/user7-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Nora</a>
                        <span class="users-list-date">15 Jan</span>
                    </li>
                    <li>
                        <img src="https://maxvandelaar.com/oreana/dist/img/user8-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Nadia</a>
                        <span class="users-list-date">15 Jan</span>
                    </li>
                </ul>
                <!-- /.users-list -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-xs-right">
                <a href="#/">Alle Relaties</a>
            </div>
            <!-- /.box-footer -->
        </div>
        <!--/.box -->
    </div>

    <div class="col-md-6">
        <!-- Map LIST -->
        <div class="box box-green">
            <div class="box-header">
                <h4>Markt in Kaart</h4>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <!-- /.users-list -->
                <img style="width:100%;margin-bottom:10px;margin-top: 10px;" src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap
&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
&markers=color:red%7Clabel:C%7C40.718217,-73.998284
&key=AIzaSyAYbEuqBU9j2JoNF68J_hMZmqvCdE6t3WM"/>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-xs-right">
                <a href="javascript:;" class="uppercase">Alle objecten</a>
            </div>
            <!-- /.box-footer -->
        </div>
        <!--/.box -->
    </div>
</div>
