<!DOCTYPE html>
<html ng-app="oreanaApp">
<head>
    <meta charset="utf-8">
    <title>Oreana</title>
    <meta name="description" content="A admin dashboard theme that will get you started with Bootstrap 4."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">

    <link href='https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext,cyrillic' rel='stylesheet'
          type='text/css'>
    <link rel='stylesheet' href='/components/tether/dist/css/tether.min.css'/>
    <link rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.min.css'/>

    <link rel='stylesheet' href='/components/font-awesome/css/font-awesome.min.css'/>
    <link rel='stylesheet' href='/components/Ionicons/css/ionicons.min.css'/>
    <link rel='stylesheet' href='/components/flag-icon-css/css/flag-icon.min.css'/>
    <link rel='stylesheet' href='/components/ng-img-crop/compile/minified/ng-img-crop.css'/>

    <link rel="stylesheet" href="/stylesheets/dashboard/styles.css"/>
</head>
<body ng-controller="mainController">
<nav class="navbar navbar-fixed-top navbar-dark bg-blue">

    <button type="button" class="navbar-toggler pull-left hidden-md-up " data-toggle="offcanvas"><i
                class="fa fa-th-list"></i></button>

    <button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse"
            data-target="#collapsingNavbar">
        ☰
    </button>

    <a class="navbar-brand pull-left" href="#/">Oreana | <span class="text-small"><%= entity.name %></span></a>

    <!--toggle sidebar button-->
    <!--<p class="hidden-md-up">-->
    <!--</p>-->
    <!--src="https://maxvandelaar.com/oreana/dist/img/user1-128x128.jpg" -->

    <div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item">
                <a class="nav-link" href="#/profile">
                    <img style="max-height:24px;max-width:24px;" class="img-circle"
                    src="{{user.profile.photo}}"
                         alt="User Image" />
                    {{user.profile.name.firstname}} <span class="sr-only">Profile</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout" uib-tooltip="Uitloggen" tooltip-placement="bottom-right"><i class="ion ion-log-out"></i><span class="sr-only"> Uitloggen</span></a>
            </li>
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="" data-target="#myModal" data-toggle="modal">About</a>-->
            <!--</li>-->
        </ul>
    </div>
</nav>
<div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3 col-lg-2 sidebar-offcanvas bg-dark" id="sidebar" role="navigation">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-item"><a class="nav-link" href="#/"><i class="fa fa-dashboard"></i> OreanaVandaag</a></li>
                <li class="nav-item">
                    <label class="tree-toggle nav-link hover"><i class="fa fa-users"></i> Relaties</label>
                    <ul class="tree">
                        <li class="nav-item"><a class="nav-link" href="#/relations/employees"><i class="ion ion-person-stalker"></i> Medewerkers</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="ion ion-ios-people"></i> Klanten</a>
                        </li>
                    </ul>

                </li>
                <li class="nav-item">
                    <label class="tree-toggle nav-link hover"><i class="fa fa-home"></i> Objecten</label>
                    <ul class="tree">
                        <li class="nav-item"><a class="nav-link" href="#"><i class="ion ion-ios-home"></i> Koop</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="ion ion-ios-home-outline"></i> Huur</a>
                        </li>
                    </ul>

                </li>
            </ul>
        </div>
        <!--/col-->

        <div class="col-md-9 col-lg-10 main" id="myBody">
            <ng-view>

            </ng-view>
        </div>
        <!--/main col-->
    </div>

</div>
<!--/.container-->
<footer class="container-fluid">
        <p class="pull-right small copyright">©2016 Oreana</p>
</footer>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Large Modal</h4>
            </div>
            <div class="modal-body">
                This is a dashboard layout for Bootstrap 4. This is an example of the Modal component which you can use
                to show content. Any content can be placed inside the modal and it can use the Bootstrap grid classes.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary-outline" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!--scripts loaded here-->

<script>
    var user = <%- JSON.stringify(user); %>;
    var entity = <%- JSON.stringify(entity); %>;
    console.log(user);
    console.log(entity);
</script>

<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/tether/dist/js/tether.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/components/moment/min/moment-with-locales.min.js"></script>

<script src="/components/angular/angular.js"></script>
<script src="/components/angular-route/angular-route.js"></script>
<script src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/components/ng-img-crop/compile/minified/ng-img-crop.js"></script>
<script type="text/javascript" src="/components/angular-ui-utils/ui-utils.min.js"></script>
<script type="text/javascript" src="/components/angular-ui-map/ui-map.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initMap"></script>
<script src="/javascripts/dashboard/scripts.js"></script>
<script src="/javascripts/angular/module.js"></script>
<script src="/javascripts/angular/filters.js"></script>
<script src="/javascripts/angular/config.js"></script>
<script src="/javascripts/angular/controllers/mainController.js"></script>
<script src="/javascripts/angular/controllers/oreanaVandaagController.js"></script>
<script src="/javascripts/angular/controllers/profileController.js"></script>
<script src="/javascripts/angular/controllers/employeesController.js"></script>





</body>
</html>
