<!DOCTYPE html>
<html ng-app="oreanaApp">
  <head>
    <title>Oreana</title>
      <link href='https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext,cyrillic' rel='stylesheet'
            type='text/css'>
    <link rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <video id="bgvid" autoplay loop muted poster="/images/login/couple.jpg" ng-if="!mobileBrowser">
      <source src="/videos/coupleSD.mp4" type="video/mp4" ng-if="!mobileBrowser">
  </video>

    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 text-xs-center login-box">
            <h1>Login</h1>
            <form method="post" action="/login">
                <fieldset class="form-group">
                    <!--<label for="email">Email adres</label>-->
                    <input type="email" class="form-control" id="email" name="username" placeholder="Email adres">
                </fieldset>
                <fieldset class="form-group">
                    <!--<label for="password">Wachtwoord</label>-->
                    <input type="password" class="form-control" id="password" name="password" placeholder="Wachtwoord">
                </fieldset>
                <button type="submit" class="btn btn-primary-outline">Inloggen</button>
            </form>
            <a href="/register" class="btn btn-default">Registeren</a>
        </div>
    </div>
  </body>
</html>


<script src="/components/angular/angular.js"></script>
<script src="/components/angular-route/angular-route.js"></script>
<script src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/components/ng-img-crop/compile/minified/ng-img-crop.js"></script>
<script type="text/javascript" src="/components/angular-ui-utils/ui-utils.min.js"></script>
<script type="text/javascript" src="/components/angular-ui-map/ui-map.min.js"></script>
<script src="/javascripts/angular/module.js"></script>
<script src="/javascripts/angular/controller/loginController.js"></script>

