<!DOCTYPE html>
<html>
  <head>
    <title>Oreana</title>
    <link rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="row">
        <div class="col-md-offset-2 col-sm-5">
            <h1>Registeren</h1>
            <form method="post" action="/register">
                <fieldset class="form-group">
                    <!--<label for="email">Email adres</label>-->
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email adres">
                </fieldset>
                <fieldset class="form-group">
                    <!--<label for="password">Wachtwoord</label>-->
                    <input type="password" class="form-control" id="password" name="password" placeholder="Wachtwoord">
                </fieldset>
                <fieldset class="form-group">
                    <!--<label for="password">Wachtwoord</label>-->
                    <input type="text" class="form-control" id="entity" name="entity" placeholder="Bedrijf">
                </fieldset>
                <fieldset class="form-group">
                    <!--<label for="password">Wachtwoord</label>-->
                    <input type="text" class="form-control" id="role" name="role" placeholder="Rol">
                </fieldset>
                <hr>
                <fieldset class="form-group">
                    <!--<label for="password">Wachtwoord</label>-->
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Voornaam">
                </fieldset>
                <fieldset class="form-group">
                    <!--<label for="password">Wachtwoord</label>-->
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Achternaam">
                </fieldset>
                <fieldset class="form-group">
                    <!--<label for="password">Wachtwoord</label>-->
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Telefoonnummer">
                </fieldset>
                <hr/>
                <fieldset class="form-group">
                    <!--<label for="password">Wachtwoord</label>-->
                    <input type="text" class="form-control" id="street" name="street" placeholder="Straat">
                </fieldset>
                <fieldset class="form-group">
                    <!--<label for="password">Wachtwoord</label>-->
                    <input type="number" class="form-control" id="number" name="number" placeholder="Nummer">
                </fieldset>
                <fieldset class="form-group">
                    <!--<label for="password">Wachtwoord</label>-->
                    <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="Postcode">
                </fieldset>
                <fieldset class="form-group">
                    <!--<label for="password">Wachtwoord</label>-->
                    <input type="text" class="form-control" id="city" name="city" placeholder="Stad">
                </fieldset>
                <fieldset class="form-group">
                    <!--<label for="password">Wachtwoord</label>-->
                    <input type="text" class="form-control" id="country" name="country" placeholder="Land">
                </fieldset>

                <button type="submit" class="btn btn-success-outline">Registeer!</button>
            </form>
        </div>

    </div>
  </body>
</html>
