body {
    padding-top: 62px;
}

body, html {
    height: 100%;
    font-family: 'poiret one';
    background-color:whitesmoke;
}

/* workaround modal-open padding issue */
body.modal-open {
    padding-right: 0 !important;
}

/* workaround bs 4 horizontal scrollbar */
.container-fluid > .row {
    margin-left: -15px;
    margin-right: -10px;
}

#sidebar {
    padding-left: 0;
}

/*
 * Off Canvas at medium breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 48em) {

    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -33%;
    }

    .row-offcanvas-left.active {
        left: 33%;
    }

    .sidebar-offcanvas {
        background-color: #f6f6f6;
        position: absolute;
        top: 0;
        width: 33%;
        height: 100%;
    }
}

/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 34em) {
    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -45%;
    }

    .row-offcanvas-left.active {
        left: 45%;
    }

    .sidebar-offcanvas {
        width: 45%;
    }
}

/* responsive nav stacked liked 3.x */
@media (max-width: 34em) {
    .navbar .navbar-brand {
        float: none;
        display: block;
    }

    .navbar .navbar-nav > .nav-item {
        float: none;
        margin-left: .1rem;
    }

    .navbar .navbar-nav {
        float: none !important;
    }
}

.card {
    overflow: hidden;
}

.card-block .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

.card-block .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}

.bg-blue {
    background-color: #3c8dbc !important;
}

.bg-dark {
    background-color: #222d32 !important;
}

.bg-aqua {
    background-color: #00c0ef !important;
}

.bg-red {
    background-color: #dd4b39 !important;
}

.bg-green {
    background-color: #00a65a !important;
}

.bg-yellow {
    background-color: #f39c12 !important;
}

#sidebar {
    color: #b8c7ce !important;
    border-left: 1px solid black;
    height: 100vh;
    height: cacl(100vh -54px -44px);
    height: -webkit-calc(100vh - 54px - 44px);
}

#sidebar > .nav > .nav-item > .nav-link, #sidebar > .nav > .nav-item > .tree > .nav-item > .nav-link {
    color: #b8c7ce;
}

#sidebar > .nav > .nav-item:hover {
    border-left: 2px solid #3c8dbc;
}

#sidebar > .nav > .nav-item > .tree > .nav-item:hover {
    border-left: 2px solid yellow;
}

#sidebar > .nav > .nav-item > .nav-link:hover, #sidebar > .nav > .nav-item > .tree > .nav-item > .nav-link:hover {
    background-color: #1e282c;
}

#main {
    margin-top: -8px;
}

#myBody {
    height: 100vh;
    height: cacl(100vh -54px -44px);
    height: -webkit-calc(100vh - 54px - 44px);
    overflow-y: auto;
    padding: 10px 25px;
    background-color: whitesmoke;

}

footer {
    background-color: white;
    border-top: 1px solid #1e282c;
}

.copyright {
    margin-top: 8px;
}

.color-gold {
    color: gold;
}

.color-blue {
    color: midnightblue;
}

.text-small {
    font-size: 0.8em;
}

.hover {
    cursor: pointer;
}